<!DOCTYPE html>
<html>
<head>
    <title>Visualization - Landportal.info</title>
    <meta charset="UTF-8"/>
    <link href="{{ url_for('static', filename='graphic.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='wesCountry.min.css') }}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{{ url_for('static', filename='wesCountry.min.js') }}"></script>
</head>
<body>
    <h2>{{ title }}</h2>
    <h3>{{ description }}</h3>
    <div id="container" style="height: 400px"></div>
    <script type="text/javascript">
        var options = {{ options|safe }};
        options.container = "#container";
        options.download = true;
        wesCountry.charts.chart(options);
    </script>
</body>
</html>